<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Homework</title>
</head>
<body>
  <h1>Sinatra Homework</h1>
  <h3>Week 4, Day 1</h3>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/address">Address</a></li>
    <li><a href="/camelcase/code/clan">CamelCaseCodeClan</a></li>
  </ul>
  <%= yield %>
</body>
</html>