<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Homework</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <div id="header">
    <h1>Sinatra Homework</h1>
    <h3>Week 4, Day 1</h3>
  </div>

  <div id="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/address">Address</a></li>
      <li><a href="/camelcase_json/code/clan">CamelCaseCodeClan (JSON)</a></li>
      <li><a href="/camelcase_html/code/clan">CamelCaseCodeClan (HTML)</a></li>
    </ul>
  </div>

  <%= yield %>
  
</body>
</html>